{% extends 'base.html' %} {% load static %} {% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/profile_form_styles.css' %}" />
<link rel="stylesheet" href="{% static 'css/ribbon_header.css' %}" />
<link rel="stylesheet" href="{% static 'css/id_card_styles.css' %}" />
{% endblock extra_styles %}

{% block before-main %}
<div class="ribbon-container">
    <div class="orange-box"></div>
    <div class="light-box"></div>
    <h1 style="-webkit-text-stroke-width: 10; -webkit-text-fill-color: #f8f8f8;">ACCOUNT</h1>
</div>
{% endblock %}

{% block content %}
<div class="id-card" style="margin-bottom: 50px; margin-top: 30px;">
  <div class="id-orange-header"></div>
  <div class="outer-wrapper">
    <div class="form-container">
        <div class="form-content" style="gap:5px;">
          <form method="POST">
            {% csrf_token %}
            <div class="update-form-content">
                <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                {{ form.username }}
            </div>
            {% if form.username.errors %}
                {% for error in form.username.errors %}
                <span class="error-message">{{error}}</span>
                {% endfor %}
            {% endif %}
            <div class="update-form-content">
                <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                {{ form.email }}
            </div>
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                <span class="error-message">{{error}}</span>
                {% endfor %}
            {% endif %}
            <div class="update-form-content">
                <label for="{{ form.new_password.id_for_label }}">{{ form.new_password.label }}</label>
                {{ form.new_password }}
            </div>
            <div class="update-form-content">
                <label for="{{ form.confirm_new_password.id_for_label }}">{{ form.confirm_new_password.label }}</label>
                {{ form.confirm_new_password }}
            </div>
            {% if form.confirm_new_password.errors %}
                {% for error in form.confirm_new_password.errors %}
                <span class="error-message">{{error}}</span>
                {% endfor %}
            {% endif %}
            <div class="button-group-container" style="margin-top: 30px;">
                <button type="submit" class="profile-button orange-btn">UPDATE</button>
                <button type="button" onClick="window.location.reload()" class="profile-button black-btn">CANCEL</button>
            </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}