.profile-wrapper {
	width: 190px; 
	height: 140px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-prev,
.btn-next {
	background: transparent;
	border: none;
	font-family: "Fatpen", cursive;
	font-weight: 300;
	color: #e26901;
	font-size: 20px;
	cursor: pointer;
	text-align: center;
	z-index: 2;
	text-shadow: 5px 5px 0 #fff, -5px 5px 0 #fff, 5px -5px 0 #fff,
		-5px -5px 0 #fff, 5px 0 0 #fff, -5px 0 0 #fff, 0 5px 0 #fff, 0 -5px 0 #fff,
		8px 8px 3px rgba(0, 0, 0, 0.2);	
	line-height: 1;
	padding: 0;
}
.btn-prev:hover,
.btn-next:hover {
	color: #ff8c00;
}


.modal-content {
	border-radius: 8px;
}


.social-links img {
	transition: transform 0.3s;
}

.social-links img:hover {
	transform: scale(1.1);
}
