{% extends 'base.html' %} {% block title %}Home - Yearbook CCS{% endblock %}
{%block content %}
<div class="home-banner center">
  <hr />
  <div>
    <a href="/batch_page" class="remove-link-style">
      <div class="label size-100 outline-white black">{{course}}</div>
      <div class="tape bg-light-yellow center">
        <div class="fatpen black size-50">BATCH 2026</div>
      </div>
    </a>
  </div>

  <hr />
</div>

<div class="home">
  <div class="center">
    <div>
      <div class="label size-50 orange center">MEET YOUR BATCHMATES</div>
      {% include "profile_card/profile_card_detail.html" %}
    </div>
  </div>

  <div>
    <div class="center blog-section">
      <div>
        <div class="label size-50 black">RECENT BLOG POST</div>
        {% include "blog/components/blog_post.html" with post=recent_blog %}
      </div>
    </div>
  </div>

  <div class="center">
    <div>
      <div class="home-margin tape2 center">
        <div class="label black size-50">PROGRAMS</div>
      </div>

      <form method="post">
        <div class="row-box">
          {% csrf_token %}
          <div>
            <button type="submit" name="course" value="BSCS">
              <div class="label orange size-50 neg-10">
                COMPUTER <br />
                SCIENCE
              </div>
            </button>
          </div>
          <div>
            <button type="submit" name="course" value="BSIT">
              <div class="label orange size-50 pos-10">
                INFORMATION <br />
                TECHNOLOGY
              </div>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
