{% extends 'base.html' %} 
{% block title %}Home - Yearbook CCS
{% endblock %}
{% block content %} {%load static%}
<link rel="stylesheet" href="{% static 'css/comment_styles.css' %}" />
<link rel="stylesheet" href="{% static 'css/profile_card.css' %}" />

<div
	class="home-cover container-fluid d-flex flex-column justify-content-center position-relative"
>
	<div class="light-orange-rectangle-design">
		<img
			src="{% static 'images/sketch_assets/B-Star.svg' %}"
			class="b-star-svg"
		/>
		<img
			src="{% static 'images/sketch_assets/Y-Star2.svg' %}"
			class="y-star-svg"
		/>
		<div class="program-label text-style-1 size-80">{{course}}</div>
		<div class="batch-label">BATCH 2026</div>
	</div>
</div>
<div class="preview-profile-cover">
	<div class="preview-profile-label text-style-2">
		MEET YOUR BATCHMATES
	</div>
	<div class="rectangle-orange-box"></div>
	<div class="rectangle-light-orange-box"></div>
	<div class="preview-profile-pictures">
		{% include "users/components/profile_card_detail.html" with profile=random_profile %}
	</div>
</div>
<div>
	<div>
		<div class="center blog-section">
			<div>
				<div class="label size-50 black">RECENT BLOG POST</div>
				{% if recent_blog %}
				<!-- prettier-ignore -->
				{% include "blog/components/blog_post.html" with post=recent_blog %} {% else %} No posts! {% endif %}
			</div>
		</div>
	</div>

	<div class="center">
		<div>
			<div class="home-margin tape2 center">
				<div class="label black size-50">PROGRAMS</div>
			</div>

			<form method="post">
				<div class="row-box">
					{% csrf_token %}
					<div>
						<button type="submit" name="course" value="BSCS">
							<div class="label orange size-50 neg-10">
								COMPUTER <br />
								SCIENCE
							</div>
						</button>
					</div>
					<div>
						<button type="submit" name="course" value="BSIT">
							<div class="label orange size-50 pos-10">
								INFORMATION <br />
								TECHNOLOGY
							</div>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
