.blog-post {
  background-color: #ececec;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}

.blog-input {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-between;
}

.blog-make {
  padding: 10px;
  border-radius: 10px;
  width: 60vw;
}

.image-container {
  overflow: hidden;
  width: 100%;
}

.blog-image {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 16/9;
}
