.blog-post {
  border-radius: 10px;
  border: 1.4px solid #585858;
  display: flex;
  flex-direction: column;
  height: auto;
	width: 55vw;
  margin: 0 auto;
}

.blog-input {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-between;
}

.blog-make {
  padding: 10px;
  border-radius: 10px;
  width: 60vw;
}

.image-container {
  overflow: hidden;
  width: 100%;
}

.blog-image {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 16/9;
}

.profile-image {
  border-radius: 300px;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}

.blog-list{
	display: block;
	margin-bottom: 60px;
	height: auto;
	width: 55vw;
  margin: 0 auto;
}
.blog-container{
  width: 100%;
}
.blog-padding{
  padding-left: 12%;
  padding-right: 12%;
} 
.box-shadow{
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.25); 
}
.blog-center{
  margin: 0 auto;
}

.blog-cover{
  height: 60vh;
	color: white;
	width: 100%;
	padding: 0;
	margin: 0;
	box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.25); 
	position: relative;
}

.blog-label{
	font-family: "Fatpen", cursive;
	color: black;
	text-align: center;
	font-weight: 400;
	z-index: 2;
	width: 80%;
	margin: 0 auto;
	font-size: clamp(6rem, 5vw, 11em);
  text-shadow: 5px 5px 0 #fff, -5px 5px 0 #fff, 5px -5px 0 #fff,
		-5px -5px 0 #fff, 5px 0 0 #fff, -5px 0 0 #fff, 0 5px 0 #fff, 0 -5px 0 #fff,
		8px 8px 3px rgba(0, 0, 0, 0.2);
}

.blog-orange-box2 { 
  background-color: #FF912C; 
  display: inline-block; 
  padding: 15px 80px;
  transform: rotate(-5deg); 
}
.blog-orange-box1 { 
  background-color: #E26901;
  height: 100px;
  transform: rotate(10deg); 
}

