{% extends 'base.html' %} 
{% load static %} {% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/profile_styles.css' %}" />
{% endblock extra_styles %}
{% block title %}Profile{% endblock %} 
{% block content %}
<div class="orange-box"></div>
<div class="lightorange-box"></div>
<div class="pmain-div">
    <div id="left-profile-div">
        <h1>PROFILE</h1>
        <div class="profile-pic-div">
            <img src="{{ profile.profile_pic.url }}" alt="{{user.username}} profile" />
            
            <div class="input-group" style="margin-top: 0;">
                <label for="username">Username / Display Name</label>
                <div class="input-group-container">
                    <input type="text" name="username" id="profile-username" value="{{ user.username }}" disabled></input>
                    <button id="btn-edit-username">🖉</button>
                </div>
            </div>
            <!-- <form method="post">
                {% csrf_token %}
                <div class="input-group">{{ userform.username }}</div>
            </form> -->
        </div>
        <button type="button" id="btn-edit-social-link">EDIT SOCIAL LINK</button>
    </div>
    <div id="right-profile-div">
        <form method="POST">
            {% csrf_token %}
            <div class="input-group-container">
                <div class="input-group">
                    {{ update_pform.first_name }}
                </div>
                <div class="input-group">
                    {{ update_pform.last_name }}
                </div>
            </div>
            <div class="input-group-container">
                <div class="input-group">
                    <label for="email">Email</label>
                    <input name="email" id="email" type="text" placeholder="Email"></input>
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input name="password" id="password" type="text" placeholder="Password"></input>
                </div>
            </div>
            <div class="input-group-container">
                <div class="input-group">
                    {{ update_pform.program }}
                </div>
                <div class="input-group">
                    {{ update_pform.batch_year }}
                </div>
            </div>
            <div class="input-group">
                {{ update_pform.quote }}
            </div>
            <div class="input-group">
                {{ update_pform.hobbies }}
            </div>
            <div class="button-group-container">
                <button type="button" id="btn-update-profile" style="background-color: #E26901;">UPDATE PROFILE</button>
                <button type="button" id="btn-cancel-update" style="background-color: red;">CANCEL</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}