{% extends 'base.html' %}

{% load static %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/blogs.css' %}" />
{% endblock extra_styles %}
{% load humanize %}

{% block content %}
<div>
    <div class="blog-margin center">
        <div class="blog-banner bg-orange center outline-white"> 
            <div class="label size-100">
                BLOGS
            </div>
        </div>
    </div>

    <div class="bar bg-black"></div>

    <div class="bg-white home-padding col-layout">

    {% block blog_content %}

    {% endblock %}

    </div>
</div>

{% endblock %}

