{% extends 'blog/base.html' %} {% block title %}Blog Home{% endblock %}
<!-- BLOGS -->
{% load static %} {% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/blogs.css' %}" />
{% endblock extra_styles %} {% load humanize %} {% block blog_content %}
<div>
  <div class="coolvetica size-50 d-flex justify-content-center">
    {{user}}'s Posts
  </div>

  <div>
    <a href="{% url 'blog_home' %}" class="remove-link-style">Blogs</a>
  </div>

  <div>{% include 'blog/components/blog_list.html' with blogs=pending %}</div>
</div>

{% endblock %}
