{% extends 'blog/blog_search_base.html' %} {% block title %}Blog Home{% endblock %}
<!-- BLOGS -->
{% load static %} {% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/blogs.css' %}" />
{% endblock extra_styles %} {% load humanize %} {% block blog_content %}

<div>
  <div class="mt-4">
    <a href="{% url 'blog_home' %}" class="remove-link-style">
    <img src="\static\images\icons\post.svg" style="margin-right: 10px" />
      Back
    </a>
  </div>
  
        <div class="title-container">
            <div class="circle"></div>
            <div class="circle right-circle"></div>
            <h2 class="batch-title">
                {{query}}'s Posts
            </h2>
            <div class="circle"></div>
            <div class="circle right-circle"></div>
        </div>
    {% if posts %}
        {% include 'blog/components/blog_list.html' with blogs=posts %}
    {% else %}
        {% include 'blog/components/blog_list.html' with blogs=posts %}
        <civ class="center" style="padding-bottom: 20px;">No blog posts found for this query.</div>
    {% endif %}
  </div>
</div>

{% endblock %}


