{% extends 'blog/base.html' %} {% block title %}Blog Home{% endblock %} 

{% load static %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/blogs.css' %}" />
{% endblock extra_styles %}
{% load humanize %}

{% block blog_content %}
    <div>
        <a href="{% url 'pending' %}">View pending posts</a>
    </div>
    
        <!-- MODAL -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <form method="post" enctype="multipart/form-data">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Blog</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mr-2">
                    {% csrf_token %}
                    <div>
                     {{form.title}}
                    </div>
                    <div>
                        {{form.content}}
                    </div>
                    <div>
                        {{form.media}}
                    </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Post</button>
            </div>
        </div>
        </div>
        </form>
    </div>

    <!-- input field -->
    <div class="blog-post no-highlight blog-input mt-4 mb-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 80 80" fill="none">
                <circle cx="40" cy="40" r="40" fill="#FF8384"/>
            </svg>
                <input type="text" class="blog-make" placeholder="What's on your mind?" readonly>
        </div>
    </div>

    <div class="d-flex justify-content-end">
        Sorted by Latest
    </div>

    
    <!-- TEMPLATE -->

    <div>
        {% block blog_posts %}
            {% for post in posts %}
                <form method="post" action="{% url 'delete_post' post.user_id %}">
                    {% csrf_token %}
                    <div>
                        <div class="blog-post mt-4">
                            <div class="margin-20 coolvetica size-18 d-flex justify-content-between">
                                <div>
                                    {{post.user.username}}
                                </div>
                                <div>
                                    {{post.date|naturaltime}}
                                </div>
                            </div>

                            {% if post.media.url and post.media %}
                                <div class="image-container">
                                    <img class="blog-image" src="{{post.media.url}}">
                                </div>
                            {% endif %}
                            
                            <div class="margin-20">
                                <div class="coolvetica size-24 font-weight-bold mb-3">
                                    {{post.title}}
                                </div>
                                <div class="inter size-18">
                                    {{post.content}}
                                <hr>
                                <div>
                                    View all comments
                                </div>
                            </div>
                        </div>
                        <div>
                            {% if request.user.id == post.user_id %}
                                <input type="hidden" name="post_id" value="{{ post.id }}">
                                <button type="submit">Delete</button>
                            {% endif %}
                        </div>
                    </div>
                </form>
            {% endfor %}
        {% endblock %}
    </div>


    </div>
</div>

{% endblock %}