{% extends 'base.html' %} 
{% load static %} {% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/profile_styles.css' %}" />
{% endblock extra_styles %}
{% block title %}Profile{% endblock %} 
{% block content %}
<div class="orange-box"></div>
<div class="lightorange-box"></div>
<div class="pmain-div">
    <div id="left-profile-div">
        <h1>PROFILE</h1>
        <div class="profile-pic-div">
            <!-- <img src="{{ profile.pic }}"> -->
            <img src="{% static 'images/default_graduate.png' %}" alt="" />
            
            <div class="input-group" style="margin-top: 0;">
                <label for="username">Username / Display Name</label>
                <div class="input-group-container">
                    <input type="text" name="username" disabled placeholder="Username" id="profile-username"></input>
                    <button id="btn-edit-username">🖉</button>
                </div>
            </div>
            <!-- <form method="post">
                {% csrf_token %}
                <div class="input-group">{{ userform.username }}</div>
            </form> -->
        </div>
        <button type="button" id="btn-edit-social-link">EDIT SOCIAL LINK</button>
    </div>
    <div id="right-profile-div">
        <div class="input-group-container">
            <div class="input-group">
                <label for="firstname">First Name</label>
                <input name="firstname" id="firstname" type="text" placeholder="First Name"></input>
            </div>
            <div class="input-group">
                <label for="lastname">Last Name</label>
                <input name="lastname" id="lastname" type="text" placeholder="Last Name"></input>
            </div>
        </div>
        <div class="input-group-container">
            <div class="input-group">
                <label for="email">Email</label>
                <input name="email" id="email" type="text" placeholder="Email"></input>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input name="password" id="password" type="text" placeholder="Password"></input>
            </div>
        </div>
        <div class="input-group-container">
            <div class="input-group">
                <label for="program">Program</label>
                <input name="program" id="program" type="text" placeholder="Program"></input>
            </div>
            <div class="input-group">
                <label for="year">Batch Year</label>
                <input name="year" id="year" type="text" placeholder="Year"></input>
            </div>
        </div>
        <div class="input-group">
            <label for="quote">Favorite Quote</label>
            <input type="text" id="quote" name="quote" placeholder="Favorite Quote"></input>
        </div>
        <div class="input-group">
            <label for="hobbies">Hobbies</label>
            <textarea rows="4" id="hobbies" type="text" name="hobbies" placeholder="Hobbies"></textarea>
        </div>
        <div class="button-group-container">
            <button type="button" id="btn-update-profile" style="background-color: #E26901;">UPDATE PROFILE</button>
            <button type="button" id="btn-cancel-update" style="background-color: red;">CANCEL</button>
        </div>
    </div>
</div>
{% endblock %}