<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Page - Review Accounts</title>
  </head>
  <body>
    <h1>Accounts to Verify</h1>
    <form method="POST">
      {% csrf_token %}
      <table border="1">
        <tr>
          <th>Select for Verification</th>
          <th>Select for Not Verified Email</th>
          <th>Email</th>
          <th>School ID Number</th>
          <th>ID Front</th>
          <th>ID Back</th>
          <th>Photo with ID</th>
          <th>Account Verified</th>
        </tr>
        {% for user in accounts %}
        <tr>
          <td>
            <input
              type="checkbox"
              name="verified_user_ids"
              value="{{ user.id }}"
            />
          </td>
          <td>
            <input
              type="checkbox"
              name="not_verified_user_ids"
              value="{{ user.id }}"
            />
          </td>
          <td>{{ user.email }}</td>
          <td>{{ user.school_id_number }}</td>
          <td>
            <img src="{{ user.id_front}}" alt="ID Front" width="100" />
          </td>
          <td>
            <img src="{{ user.id_back}}" alt="ID Back" width="100" />
          </td>
          <td>
            <img src="{{ user.photo_w_id}}" alt="Photo with ID" width="100" />
          </td>
          <td>{{ user.is_acc_verified }}</td>
        </tr>
        {% endfor %}
      </table>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
