.text-style-1 {
	text-shadow: 5px 5px 0 #fff, -5px 5px 0 #fff, 5px -5px 0 #fff,
		-5px -5px 0 #fff, 5px 0 0 #fff, -5px 0 0 #fff, 0 5px 0 #fff, 0 -5px 0 #fff,
		8px 8px 3px rgba(0, 0, 0, 0.2);
}
.text-style-2 {
	text-shadow: 5px 5px 0 #e26901, -5px 5px 0 #e26901, 5px -5px 0 #e26901,
		-5px -5px 0 #e26901, 5px 0 0 #e26901, -5px 0 0 #e26901, 0 5px 0 #e26901,
		0 -5px 0 #e26901, 8px 8px 3px rgba(0, 0, 0, 0.2);
}
.home-cover {
	height: 60vh;
	background: #ff912c;
	color: white;
	width: 100%;
	padding: 0;
	margin: 0;
	box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.25); /* Bottom shadow only */
}
.preview-profile-cover {
	display: flex; 
    flex-direction: column;
    align-items: center; 
    width: 100%; 
    margin: 0 auto; 
    padding: 20px; 
}
.preview-profile-pictures {
    width: 800px; 
    height: auto; 
    object-fit: cover; 
}
.light-orange-rectangle-design {
	border-top: 4px solid #ffc875;
	border-bottom: 4px solid #ffc875;
	background-color: transparent;
	padding: clamp(20px, 10%, 100px);
	width: 100%;
	margin: 0;
	text-align: center;
	height: auto;
}
.rectangle-orange-box,
.rectangle-light-orange-box {
	position: absolute;
	width: clamp(60px, 5vw, 80px);
	height: 70px;
	z-index: 10;
}
.program-label,
.batch-label,
.preview-profile-label {
	font-family: "Fatpen", cursive;
	color: black;
	text-align: center;
	font-weight: 400;
	z-index: 2;
	font-size: clamp(5rem, 5vw, 10em);
}
.preview-profile-label {
	color: #fff;
	padding: 50px;
	margin-top: 15px;
	font-size: 35px;
}
.batch-label {
	background-color: #f6ddb8;
	width: 8em;
	right: 0;
	position: absolute;
	transform: translateX(-50%) rotate(-5deg);
	font-size: clamp(1rem, 3vw, 40px);
	bottom: 60px;
}
.b-star-svg,
.y-star-svg {
	position: absolute;
	width: clamp(60px, 5vw, 80px);
	height: 70px;
	z-index: 3;
}
.b-star-svg {
	left: 10%;
	bottom: clamp(15%, 25%, 30%);
}
.y-star-svg {
	right: 18%;
	bottom: clamp(50%, 67%, 75%);
}

