.alert {
  padding: 15px;
  margin: 10px 0;
  border-radius: 4px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.alert.success {
  background-color: #d4edda;
  color: #155724;
}

.alert.error {
  background-color: #f8d7da;
  color: #721c24;
}
.alert.info {
  background-color: #cce5ff;
  color: #004085;
}

.close {
  margin-left: 15px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
}

.close:hover {
  color: red;
}

.messages {
  width: 100%;
  position: absolute;
  margin-top: 50px;
  z-index: 5;
}

.messages > ul {
  padding-inline-start: 0;
  padding: 15px;
}
