/* Global */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(rgba(71, 63, 59, 0.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(71, 63, 59, 0.3) 1px, transparent 1px);
  background-size: 60px 45px;
  overflow-x: hidden;
}

/* Header */
header {
  background-color: #ff912c;
  color: #292929;
  padding: 10px 20px;
}

header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo a {
  color: #292929;
  text-decoration: none;
  font-size: 24px;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  color: #292929;
  text-decoration: none;
}

header nav ul li a:hover {
  text-decoration: underline;
}

.coolvetica {
	font-family: coolvetica, sans-serif;
	font-style: normal;
	font-weight: 100;
}

.navbar-white {
	background-color: #f8f8f8;
}

.navbar-orange {
	background-color: #ff912c;
}

.navbar-black {
	background-color: #292929;
}

.navbar-dropdown {
  display: flex;
  justify-content: right;
  align-self: right;
}

/* Main Content */
main {
  flex-grow: 1;
  /* padding: 20px; */
}

/* Home Section */
.home-section {
  text-align: center;
  padding: 50px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.home-section h1 {
  margin-bottom: 20px;
  font-size: 36px;
}

.home-section p {
  font-size: 18px;
  margin-bottom: 30px;
}

.cta-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

.cta-button:hover {
  background-color: #0056b3;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer .footer-content p {
  margin: 5px 0;
}
