.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.outline-white {
	text-shadow: -6px -6px 0 #f8f8f8, 6px -6px 0 #f8f8f8, -6px 6px 0 #f8f8f8,
		6px 6px 0 #f8f8f8;
}

.outline-black {
	text-shadow: -6px -6px 0 #292929, 6px -6px 0 #292929, -6px 6px 0 #292929,
		6px 6px 0 #292929;
}

.outline-orange {
	text-shadow: -6px -6px 0 #ff912c, 6px -6px 0 #ff912c, -6px 6px 0 #ff912c,
		6px 6px 0 #ff912c;
}

.margin-140 {
  margin: 140px;
}

.col-layout {
	display: flex;
	flex-direction: column;
}

.row-layout {
  display: flex;
  flex-direction: row;
}

.row-layout {
    display: flex;
    flex-direction: row;
}

.bar {
	height: 30px;
}

.neg-10 {
	transform: rotate(-7deg);
}

.pos-10 {
	transform: rotate(6deg);
}

.coolvetica {
	font-family: coolvetica, sans-serif;
	font-style: normal;
}

.fatpen {
	font-family: fatpen;
}

.inter {
	font-family: Inter, sans-serif;
}

.size-100 {
	font-size: 100px;
}

.size-80 {
	font-size: 80px;
}

.size-50 {
	font-size: 50px;
}

.size-40 {
	font-size: 40px;
}
.size-24 {
	font-size: 24px;
}

.size-18 {
	font-size: 18;
}

.padding-10{
	padding-right: 70px;
	padding-left: 70px;
	padding-top: 20px;
}

.bg-black {
	background-color: #292929;
}

.black {
	color: #292929;
}

.bg-dark-gray {
	background-color: #473f3b;
}

.dark-gray {
	color: #473f3b;
}

.bg-light-gray {
	background-color: #ececec;
}

.light-gray {
	color: #ececec;
}

.bg-white {
	background-color: #f8f8f8;
}

.white {
	color: #f8f8f8;
}

.bg-orange {
	background-color: #ff912c;
}

.orange {
	color: #ff912c;
}

.bg-light-orange {
	background-color: #ff912c;
	height: 15px;
}

.light-orange {
	color: #ff912c;
}

.bg-yellow {
	background-color: #ffc875;
}

.yellow {
	color: #ffc875;
}

.bg-light-yellow {
	background-color: #f6ddb8;
}

.light-yellow {
	color: #f6ddb8;
}
