.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.outline-white {
  text-shadow: 
  -6px -6px 0 #F8F8F8,
  6px -6px 0 #F8F8F8,
  -6px 6px 0 #F8F8F8,
  6px 6px 0 #F8F8F8;
}

.outline-black {
    text-shadow: 
    -6px -6px 0 #292929,
    6px -6px 0 #292929,
    -6px 6px 0 #292929,
    6px 6px 0 #292929;
}

.outline-orange {
    text-shadow: 
    -6px -6px 0 #FF912C,
    6px -6px 0 #FF912C,
    -6px 6px 0 #FF912C,
    6px 6px 0 #FF912C;
}

.col-layout {
    display: flex;
    flex-direction: column;
}

.bar {
    height: 30px;
}

.neg-10 {
    transform: rotate(-7deg);
}

.pos-10 {
    transform: rotate(7deg);
}

.coolvetica {
    font-family: coolvetica, sans-serif;
    font-style: normal;
}

.fatpen {
    font-family: fatpen;
}

.inter {
    font-family: Inter, sans-serif;
}

.size-100 {
    font-size: 100px;
}

.size-80 {
    font-size: 80px;
}

.size-50 {
    font-size: 50px;
}

.size-24 {
    font-size: 24px;
}

.size-18 {
    font-size: 18;
}

.bg-black{
    background-color: #292929;
}

.black {
    color:#292929;
}

.bg-dark-gray {
    background-color:#473F3B;
}

.dark-gray {
    color:#473F3B;
}

.bg-light-gray {
    background-color: #ECECEC;
}

.light-gray {
    color: #ECECEC;
}

.bg-white{
    background-color: #F8F8F8;
}

.white{
    color:#F8F8F8;
}
  
.bg-orange{
    background-color: #FF912C;
}

.orange {
    color:#FF912C;
}

.bg-light-orange {
    background-color:#FF912C;
}

.light-orange {
    color:#FF912C;
}

.bg-yellow {
    background-color:#FFC875;
}

.yellow {
    color:#FFC875;
}

.bg-light-yellow{
    background-color: #F6DDB8;
}

.light-yellow {
    color:#F6DDB8;
}