{% load static %} {% block extra_styles %}

<link rel="stylesheet" href="{% static 'css/blogs.css' %}" />
<link rel="stylesheet" href="{% static 'js/styles.js' %}" />

{% endblock extra_styles %} {% load humanize %} {% block blog_post %}
<div>
  <div class="blog-post mt-4">
    <div class="margin-20 coolvetica size-18 d-flex justify-content-between">
      <div>{{post.user.username}}</div>
      <div class="row-layout">
        {{post.date|naturaltime}}
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          ></button>
          <ul class="dropdown-menu">
            {% if request.user.id == post.user_id %}
            <button
              class="dropdown-item"
              data-bs-toggle="modal"
              data-bs-target="#editpostModal{{post.id}}"
              id="editBtn"
            >
              Edit
            </button>
            <form method="post" action="{% url 'delete_post' post.user_id %}">
              {% csrf_token %}
              <input type="hidden" name="post_id" value="{{ post.id }}" />
              <button
                type="submit"
                class="dropdown-item"
                name="action"
                value="delete"
              >
                Delete
              </button>
            </form>
            {% else %}
            <button
              data-bs-toggle="modal"
              data-bs-target="#reportModal"
              class="dropdown-item"
            >
              Report
            </button>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>

    <a href="{% url 'view_post' post.id %}" class="remove-link-style">
      {% if post.media.url and post.media %}
      <div class="image-container">
        <img class="blog-image" src="{{post.media.url}}" />
      </div>
      {% endif %}

      <div class="margin-20">
        <div class="coolvetica size-24 font-weight-bold mb-3">
          {{post.title}}
        </div>
        <div class="inter size-18">
          {{post.content}}
          <hr />
        </div>
        <div>
          <a
            href="#"
            id="viewblogcommentBtn"
            data-bs-toggle="modal"
            data-bs-target="#commentModal{{ post.id }}"
            >View all comments</a
          >
        </div>
      </div>
      <div></div>
    </a>
  </div>
  {% endblock %}

  <!-- passing the post to blogcomments -->
  {% include "blog/components/modal/blogcomments.html" with post=post %}
  <!-- prettier-ignore -->
  {% include "component/report_modal.html" with type=0 %}

  <!-- Edit post Modal -->
  <div
    class="modal fade"
    id="editpostModal{{post.id}}"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
    data-bs-backdrop="true"
  >
    <form method="post" enctype="multipart/form-data">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Edit</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body mr-2">
            {% csrf_token %}
            <div>
              <input
                type="text"
                id="editTitle"
                name="title"
                value="{{post.title}}"
                class="form-control m-1"
              />
            </div>
            <div>
              <textarea
                id="editContent"
                name="content"
                value="{{post.content}}"
                class="form-control m-1"
              >
              <!-- prettier-ignore -->
              {{post.content}}
              </textarea>
            </div>
            <div>
              {% if post.media.url and post.media %}
              <div class="image-container">
                <img class="blog-image" src="{{post.media.url}}" />
                <input
                  type="file"
                  id="editMedia"
                  name="media"
                  value="{{post.media.url}}"
                  class="form-control m-1"
                />
              </div>
              {% else %}
              <input type="file" class="form-control m-1" />
              {% endif %}
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <input type="hidden" name="post_id" value="{{ post.id }}" />
            <button
              type="submit"
              class="btn btn-primary"
              name="action"
              value="edit"
            >
              Edit
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
