{% extends 'base.html' %} {% load static %} {% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/form_styles.css' %}" />
{% endblock extra_styles %}{% block content %}

<div class="form-header">
  <div class="ribbon-container"></div>
  <div class="orange-box"></div>
  <h1>SIGN UP!</h1>
</div>
<div class="id-card">
  <div class="id-orange-header"></div>
  <div class="outer-wrapper">
    <div class="form-container">
      <form method="POST">
        {% csrf_token %}
        <div class="images-content">
          <img src="{% static 'images/default_graduate.png' %}" alt="" />
          <div class="input-group">
            <label for="{{ form.id_front.id_for_label }}">ID Front:</label>
            {{ form.id_front }}
          </div>
          <div class="input-group">
            <label for="{{ form.id_back.id_for_label }}">ID Back:</label>
            {{ form.id_back }}
          </div>
        </div>

        <div class="form-content">
          <div class="input-group">{{ form.username }}</div>
          <div class="input-group">{{ form.email }}</div>
          <div class="input-group">{{ form.first_name }}</div>
          <div class="input-group">{{ form.last_name }}</div>
          <div class="input-group">{{ form.password1 }}</div>
          <div class="input-group">{{ form.password2 }}</div>
          <button type="submit">SIGNUP</button>
          <p>Already have an account? <a href="{% url 'login' %}">Log In</a></p>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
