{% extends 'base.html' %} {% load static %} {% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/form_styles.css' %}" />
{% endblock extra_styles %}{% block content %}
<div class="container">
  <h1>HELLO THERE!</h1>
  <h3>SIGN UP</h3>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="input-group">
      <label for="{{ form.username.id_for_label }}">Username:</label>
      {{ form.username }}
    </div>

    <div class="input-group">
      <label for="{{ form.email.id_for_label }}">Email:</label>
      {{ form.email }}
    </div>

    <div class="input-group">
      <label for="{{ form.first_name.id_for_label }}">First Name:</label>
      {{ form.first_name }}
    </div>

    <div class="input-group">
      <label for="{{ form.last_name.id_for_label }}">Last Name:</label>
      {{ form.last_name }}
    </div>

    <div class="input-group">
      <label for="{{ form.password1.id_for_label }}">Password:</label>
      {{ form.password1 }}
    </div>

    <div class="input-group">
      <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
      {{ form.password2 }}
    </div>
    <div class="input-group">
      <label for="{{ form.id_front.id_for_label }}">ID Front:</label>
      {{ form.id_front }}
    </div>

    <div class="input-group">
      <label for="{{ form.id_back.id_for_label }}">ID Back:</label>
      {{ form.id_back }}
    </div>

    <button type="submit" class="signup-btn">SIGN UP</button>
  </form>

  <p>Already have an account? <a href="{% url 'login' %}">Login here</a>.</p>
</div>
{% endblock %}
