{% autoescape off %} Hello <b>{{ user.username }}</b>, <br />

<p>
  <br />
  There was a request to reset your password for your CCS Yearbook-esque SPS
  account. Please click the link below to set a new password.
</p>

<a
  href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"
>
  Reset password
</a>

<br />

<p>
  If you didn't ask to reset your password, don't worry!~ Your password is still
  safe and you can choose to ignore this message or let us know.
</p>

<br />
Best regards, <br />
CCS Yearbook-esque Team {% endautoescape %}
