{% extends 'base.html' %}
{% load static %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/batch_page.css' %}" />
<link rel="stylesheet" href="{% static 'css/profile_card.css' %}" />
<script src="{% static 'js/profile_card_script.js' %}"></script>
{% endblock extra_styles %}

{% block content %}
<!-- For BATCH PAGE Cover Photo: Based on the current user info or search, or filter, 
it will change the header to BSIT or BSCS. -->
<div class="batch-cover container-fluid d-flex flex-column justify-content-center position-relative">
  <h2 class="text-center">
    {% if request.GET.program == 'BSCS' %}
      Bachelor of Computer Science
    {% elif request.GET.program == 'BSIT' %}
      Bachelor of Information Technology
      {% else %}
      {% if user_profile.program == 'BSCS' %}
        Bachelor of Computer Science
      {% else %}
        Bachelor of Information Technology
      {% endif %}
    {% endif %}
  </h2>
  <div class="orange-rectangle-design"></div>

  <!-- Search and Filter -->
  <div class="search-filter position-absolute top-0 end-0 m-3 d-flex align-items-center">
    <form method="GET" action="{% url 'search_profile' %}" class="me-2">
      <input type="text" class="form-control" name="search" placeholder="Search by Name" />
    </form>
    <form method="GET" action="{% url 'batch_page' %}" class="d-flex align-items-center">
      <div class="dropdown me-2">
        <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Filter</button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <select name="year" class="form-select">
              <option value="">Batch Year</option>
              {% for year in all_batch_years %}
              <option value="{{ year }}" {% if year == request.GET.year %}selected{% endif %}>{{ year }}</option>
              {% endfor %}
            </select>
          </li>
          <li>
            <select name="program" class="form-select">
              <option value="">Program</option>
              {% for program in available_programs %}
              <option value="{{ program }}" {% if program == request.GET.program %}selected{% endif %}>{{ program }}</option>
              {% endfor %}
            </select>
          </li>
          <li class="text-center">
            <button type="submit" class="btn btn-light btn-sm">Apply Filters</button>
          </li>
        </ul>
      </div>
    </form>
  </div>
</div>
<!--for BATCH PAGE Under Cover Photo: Based on the current user info or search or filter, 
it will change the Batch Year accordingly-->
<div class="title-container">
  <div class="circle"></div>
  <div class="circle right-circle"></div>
  <h2 class="batch-title">
    {% if request.GET.year %}
      BATCH {{ request.GET.year }}
    {% else %}
      BATCH {{  user_profile.batch_year }}
    {% endif %}
  </h2>
  <div class="circle"></div>
  <div class="circle right-circle"></div>
</div>

<!-- Profile Circles: When clicked, details are passed to the Profile Card -->
<div class="profile-list d-flex flex-wrap justify-content-center gap-5">
  {% for profile in filtered_profiles %}
  <div class="profile-circle text-center">
    <a href="#" class="profile-link" 
      data-bs-toggle="modal" 
      data-bs-target="#profileModal"
      data-id="{{ profile.id }}"
      data-name="{{ profile.first_name }} {{ profile.last_name }}"
      data-username="{{ profile.user_account.username }}"
      data-program="{{profile.program}}"
      data-batch-year="{{profile.batch_year}}"
      data-image="{{ profile.profile_pic.url }}"
      data-quote="{{ profile.quote }}"
      data-hobbies="{{ profile.hobbies }}"
      data-facebook="{{ profile.visible_social_links.facebook|default_if_none:''}}"
      data-linkedin="{{ profile.visible_social_links.linkedin|default_if_none:''}}"
      data-github="{{ profile.visible_social_links.github|default_if_none:''}}"
      data-instagram="{{ profile.visible_social_links.instagram|default_if_none:''}}">
      <div class="profile-wrapper d-flex align-items-center justify-content-center position-relative" style="width: 280px;">
        <img src="{{ profile.profile_pic.url }}" 
          alt="{{ profile.first_name }}'s profile picture"
          style="width: 120px; height: 120px; position: relative; z-index: 2; object-fit: cover;"
          class="profile-image" />
        <img
          id="profileFrame"
          class="img-fluid rounded-circle"
          style="width: 160px; height: 150px; position: absolute;"
          src="{% static 'images/profile_frame.png' %}"
          alt="Profile Frame"
        />
      </div>
    </a>
    
    <div class="profile-circle-details">
        <p class="profile-name">{{ profile.first_name }} {{ profile.last_name }}</p>
        <p class="profile-quote" id="quoteText">"{{ profile.quote }}"</p>
    </div>
  </div>
  {% empty %}
  <p>No profiles found for this batch.</p>
  {% endfor %}
</div>


{% include 'profile_card/profile_card_detail.html' %}
<!-- {% include 'profile_card/profile_card_comment.html' %} -->

<script src="{% static 'js/report_styles.js' %}"></script>
{% include "component/report_modal.html" %}
{% endblock %}
