<div
  class="modal fade user-account-modal"
  id="accountModal{{ user.id }}"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="user-account-modal-wrapper">
    <div class="modal-dialog modal-lg user-account-modal-dialog">
      <div class="modal-content-wrapper">
        <div class="modal-content">
          <div class="modal-header">
            <h1
              class="modal-title fs-5 account-modal-header"
              id="exampleModalLabel"
            >
              {{ user.username }} credentials
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="credentials-container">
              <div>
                <div class="credentials-info-container">
                  <h5>Username</h5>
                  <p>{{ user.username }}</p>
                </div>
                <div class="credentials-info-container">
                  <h5>Email</h5>
                  <p>{{ user.email }}</p>
                </div>
                <div class="credentials-info-container">
                  <h5>School ID Number</h5>
                  <p>{{ user.school_id_number }}</p>
                </div>
              </div>
              <div>
                <div class="credentials-info-container">
                  <h5>ID Front</h5>
                  <img src="{{ user.id_front.url }}" alt="FRONT of ID" />
                </div>
                <div class="credentials-info-container">
                  <h5>ID Back</h5>
                  <img src="{{ user.id_back.url }}" alt="BACK of ID" />
                </div>
                <div class="credentials-info-container">
                  <h5>Photo w ID</h5>
                  <img
                    src="{{ user.photo_w_id.url }}"
                    alt="Photo of user with ID"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
