{% load static %}{% load custom_filters %}
<div class="comment" id="comment-{{ comment.id }}">
  <div class="comment-header">
    <div class="comment-profile">
      <img
        class="comment-icon-frame"
        src="{% static 'images/profile_frame.png' %}"
        alt="Profile frame"
      />
      <div class="comment-icon-wrapper">
        <img
          class="comment-icon"
          src="{{ comment.author.profile.profile_pic.url }}"
          alt="Profile Picture"
        />
      </div>
    </div>
    <h2 class="comment-author">{{ comment.author.username }}</h2>
    <h4 class="comment-date">
      · {{ comment.date_created|timesince_first_part }}
    </h4>
    {% if comment.date_created != comment.date_updated %}
    <h4 class="comment-date">(edited)</h4>
    {% endif %}
  </div>

  <div class="comment-body">
    <p id="comment-body-{{ comment.id }}">{{ comment.comment }}</p>
    <div
      class="comment-form edit-comment-form"
      id="edit-comment-form-{{ comment.id }}"
      style="align-items: baseline"
    >
      <form method="post" action="{% url 'edit_comment' comment.id %}">
        {% csrf_token %}
        <div class="comment-header">
          <div class="comment-input">
            <textarea name="comment" rows="1" placeholder="Write a comment">
{{ comment.comment }}</textarea
            >
          </div>
          <button type="submit">➤</button>
        </div>
      </form>
    </div>
  </div>

  <div class="comment-button-group">
    <!-- prettier-ignore -->
    {% if request.user == comment.author or request.user == comment.blog.user or request.user.is_superuser %}
    <form action="{% url 'delete_comment' comment.id %}" method="post">
      {% csrf_token %}
      <button type="submit" class="btn-delete-comment">· Delete</button>
    </form>
    {% endif %} {% if request.user == comment.author %}
    <button class="btn-edit-comment" value="{{ comment.id }}">· Edit</button>
    {% elif not request.user.is_superuser %}
    <button
      name="post_id"
      value="{{comment.id}}"
      class="reportBtn comment_report"
    >
      · Report
    </button>
    {% endif %}
  </div>
</div>

<script src="{% static 'js/comment_script.js' %}"></script>
<script src="{% static 'js/report_styles.js' %}"></script>
