{% load static %}
<div class="comment-form" style="align-items: baseline">
  <!-- <form method="post" action="{% url 'create_blog_comment' blog_id %}"> -->
  <!-- to add comment wo refreshing page, uncomment the ff and comment the one above and adjust comments on views -->
  <form
    method="post"
    hx-post="{% url 'create_blog_comment' blog_id %}"
    hx-target="#commentModal{{ blog_id }} .comments-container"
    hx-swap="beforeend"
    id="blogCommentForm{{ blog_id }}"
  >
    {% csrf_token %}
    <div class="comment-header">
      <div class="comment-profile">
        <div class="comment-icon-wrapper">
          <img
            class="comment-icon"
            src="{{ request.user.profile.profile_pic.url }}"
            alt="Profile Picture"
          />
        </div>
        <img
          class="comment-icon-frame"
          src="{% static 'images/profile_frame.png' %}"
          alt="Profile frame"
        />
      </div>
      <div class="comment-input">
        <textarea
          name="comment"
          rows="1"
          placeholder="Write a comment"
          required
          id="id_comment"
        ></textarea>
      </div>
      <button type="submit" id="btn-create-comment">➤</button>
    </div>
  </form>
</div>

<script>
  $(document).on(
    "htmx:afterOnLoad",
    "#blogCommentForm{{ blog_id }}",
    function () {
      $(this).trigger("reset"); // reset the form
    }
  );
</script>
