<!--THIS INCLUDES the Profle COMMENT modal-->
{% load static %} {% block profile_modal %}
<!-- Modal Structure -->
<div
	class="modal modal-profile fade"
	id="profileModal"
	tabindex="-1"
	aria-labelledby="profileModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered">
		<img src="{% static 'images/sketch_assets/Y-Star1.svg' %}" class="y-star1-svg"/>
		<div class="modal-content modal-content-profile" id="modalContent">
			<img src="/static/images/cit_logo.png" alt="Logo" class="logo" /> 
			<div class="modal-body modal-body-profile d-flex" id="modalBody">
				<!-- Left Column -->
				<div
					class="left-column d-flex flex-column align-items-center"
				>
				
				<div class="profile-circle-wrapper d-flex align-items-center justify-content-center position-relative">
					<p><span id="profileUsername"  style="text-transform: uppercase;"></span></p>
					<button id="prevProfileBtn" class="btn btn-prev position-absolute"style="left: 10px;">&lt;</button>
					<img
        				id="profileImage"
        				class="img-fluid rounded-circle"
        				style="width: 160px; height: 160px; position: relative; z-index: 2; object-fit: cover;"
        				alt="Profile Image"
    				/>
    				<img
        				id="profileFrame"
        				class="img-fluid rounded-circle"
        				style="width: 210px; height: 200px; position: absolute;"
        				src="{% static 'images/profile_frame.png' %}"
        				alt="Profile Frame"
    				/>
					<button id="nextProfileBtn" class="btn btn-next position-absolute end-0">&gt;</button>
				  </div>
				  <p class="profile-batch"><strong>BATCH <span id="profileBatchYear"></strong></span></p>
				  <div id="socialContainer" style="display: none;">
					<p style="margin: 1px; font-size: 12px; color: #e26901">Connect with me on</p>
					<div id="socialIconsContainer" class="social-icons"></div>
				  </div>
				  </div>
				</div>

				<!-- Right Column -->
				<div class="right-column">
					<h5 id="profileModalLabel"></h5>
					<div class="profile-program-background">
						<p class="profile-program-text">
							<span>Bachelor of Science in </span>
							<span id="profileProgram" style="text-transform: uppercase;"></span>
						</p>
					</div>
					<strong style="margin: 5px 0;">Quote:</strong><div class="profile-quote-box"><span id="profileQuote"></span></div>
					<strong style="margin: 5px 0;">Hobbies:</strong><div class="profile-hobbies-box"><span id="profileHobbies"></span></div>
					<div class="d-flex justify-content-end mt-2 me-3" >
                        <button id="viewCommentBtn" class="comment-button">View Comment</button>
						<!-- add if profile is not request.user -->
						<div class="profile-report-div" data-curr-user="{{request.user.profile.id}}" style="display:none">
							<button class="reportBtn comment-button profile_report ml-4" id="profile_report">Report</button>
						</div>
                    </div>
				</div>	
			</div>
		</div>
	</div>
</div>

<!-- {% include 'profile_card/profile_card_comment.html' %} -->
 
<!-- prettier-ignore -->

{% endblock %}
