<!-- Modal Structure for Comments -->
<div
	class="modal fade"
	id="commentsModal"
	tabindex="-1"
	aria-labelledby="commentsModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="commentsModalLabel"></h5>
				<button type="button" class="btn btn-secondary" id="backToProfileBtn">
					Back to Profile
				</button>
			</div>
			<div class="modal-body">
				<div
					class="comment-list"
					style="max-height: 60vh; overflow-y: auto"
				></div>
				<div class="d-flex justify-content-between mt-3">
					<button id="prevCommentProfileBtn" class="btn btn-secondary">
						Previous
					</button>
					<button id="nextCommentProfileBtn" class="btn btn-secondary">
						Next
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
