h1.account-modal-header {
  margin: 0;
}

.credentials-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 60vh;
  overflow-y: auto;
  padding: 5px 10px;
}

.credentials-container > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.credentials-info-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: 16px;
}

.credentials-info-container img {
  align-self: center;
  width: 80%;
  object-fit: cover;
}

.user-account-modal-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-account-modal-dialog {
  max-width: 80vw;
  height: 100%;
  display: flex;
  align-items: center;
}

.user-account-modal-dialog .modal-content-wrapper {
  border: 2px solid black;
  padding: 15px;
  background: white;
  border-radius: 5px;
}

.user-account-modal-dialog .modal-header {
  background: white;
  border-radius: 25px;
}

.user-account-modal-dialog .modal-body {
  overflow-y: auto;
}

.user-account-modal-dialog .modal-content {
  height: max-content;
  border: 2px solid black;
}
