* {
  box-sizing: border-box;
}

.comment,
.comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.comments-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.comment-form form {
  width: 100%;
}

.comment-icon {
  width: 45px;
  height: 45px;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.comment-profile {
  display: grid;
  position: relative;
  place-items: center;
}

.comment-icon-frame {
  width: 55px;
  height: 55px;
  grid-area: 1/1;
}

.comment-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  grid-area: 1/1;
}

.comment-header,
form .comment-header {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}

.comment-author,
.comment-date {
  margin: 0;
}

.comment-author {
  font-size: 1.5em;
}

.comment-date {
  color: gray;
  font-size: 1em;
  margin-top: 5px;
}

.comment > .comment-header {
  align-items: flex-start;
}

.comment-body {
  display: flex;
  flex-grow: 1;
  width: 100%;
  padding-left: 65px;
  margin-top: -15px;
}

.comment-body p {
  margin: 0;
}

.comment-input {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.comment-input > textarea {
  width: 100%;
  color: #5b5654;
  font-size: medium;
  border-radius: 15px;
  padding: 10px;
  border: 1px solid #292929;
  background: #e7e5e5;
  align-self: center;
}

button[type="submit"]:not([class]) {
  height: 45px;
  background-color: transparent;
  border: none;
}

.comment-button-group {
  display: flex;
  align-self: flex-start;
  gap: 10px;
  padding-left: 65px;
  align-items: baseline;
}

.comment-button-group button {
  border: none;
  background: transparent;
  font-size: 14px;
  padding: 0;
  color: #575656;
}

.comment-button-group button:hover {
  text-decoration: underline;
}

.edit-comment-form {
  padding: 0;
}

.no-comments-found-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
